.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Gallery-container {
  display: flex;
  background-color: #8c8c8c;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 200px;
}

.slider-button {
  width: 22px;
  height: 198px;
}

.slider-button-left {
}

.slider-button-right {
}

.card-list-container {
  display: flex;
  justify-content: space-around;
  height: 200px;
  width: 750px;
  background-color: #bfbfbf;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 240px;
  background-color: #ffffff;
}

.card-image {
  border: solid 1px #000000;
  height: 160px;
  width: 106px;
}

.card-detail {
  display: flex;
  flex-direction: column;
  height: 170px;
  width: 106px;
  border: solid yellow 1px;
  overflow-wrap: break-word;
}

.card-invisible {
  margin-bottom: auto;
  visibility: hidden;
}

.card-info {
  border: solid red 1px;
}

.card-name {
  font-size: 70%;
  color: #613400;
}
.card-author {
  font-size: 60%;
  color: #595959;
}

.card-footer {
  margin-top: auto;
  border: solid blue 1px;
}
.card-price {
  font-size: 60%;
  text-align: left;
  margin-left: 1em;
  color: #13c2c2;
}
